	 *,
	  ::before,
	  ::after {
	     box-sizing: border-box;
	     margin: 0;
	     padding: 0;
	 }
	 
	 body {
	     font: 1.5em $font-family;
	     font-weight: map-get($map: $font-weight, $key: "Regular");
	     margin-left: 2rem;
	     margin-right: 2rem;
	     background: $bg-color;
	 }
	 
	 .d-grid {
	     display: grid;
	 }
	 
	 header {
	     align-items: center;
	     display: flex;
	     justify-content: center;
	     flex-direction: row;
	     .logo {
	         align-items: center;
	         display: flex;
	         justify-content: center;
	         flex-direction: column;
	         margin-top: 5rem;
	         span {
	             font-size: 1rem;
	             font-weight: map-get($map: $font-weight, $key: "Medium");
	             padding-top: .5rem;
	         }
	     }
	 }
	 
	 main {
	     &.container {
	         margin-top: 3rem;
	         .head {
	             color: $secondary-color;
	             font-size: 2rem;
	             font-weight: map-get($map: $font-weight, $key: "Bold");
	         }
	         .sub-head {
	             color: $accent-color-2;
	             font-size: 0.875rem;
	             font-weight: map-get($map: $font-weight, $key: "Regular");
	             line-height: 24px;
	         }
	         form {
	             &.form {
	                 margin-top: 3rem;
	                 .input-group {
	                     margin-bottom: 1rem !important;
	                     position: relative;
	                     width: 100%;
	                     border: none;
	                     label {
	                         color: $secondary-color;
	                         display: block;
	                         font-size: 0.975rem;
	                         font-weight: map-get($map: $font-weight, $key: "Medium");
	                     }
	                     input {
	                         border-radius: .5rem;
	                         border: 1px solid $accent-color-1;
	                         font-size: 1rem;
	                         height: 2.75rem;
	                         margin-top: .5rem;
	                         padding: 0.8em;
	                         width: 100%;
	                         &::placeholder {
	                             color: $accent-color-2;
	                             font-weight: map-get($map: $font-weight, $key: "Medium");
	                         }
	                         &:focus {
	                             border: 1px solid $accent-color-1;
	                         }
	                     }
	                     .input-group-icon {
	                         position: absolute;
	                         top: 70%;
	                         right: 20px;
	                         transform: translateY(-50%);
	                         i {
	                             color: $accent-color-2;
	                             cursor: pointer;
	                         }
	                     }
	                 }
	                 .option {
	                     display: flex !important;
	                     justify-content: space-between;
	                     align-items: center;
	                     margin-bottom: 1rem;
	                     .input-check {
	                         label {
	                             color: $secondary-color;
	                             font-size: 1rem;
	                         }
	                     }
	                 }
	                 .forgot-pass {
	                     display: inline-block;
	                     font-size: 1rem;
	                     color: $primary-color;
	                     text-decoration: none;
	                 }
	             }
	         }
	     }
	 }
	 
	 .btn {
	     margin: .5rem;
	     padding: .8em 2em;
	     border-radius: .7rem;
	     border: none;
	     cursor: pointer;
	     text-align: center;
	     font-weight: map-get($map: $font-weight, $key: "Medium");
	     font-size: 1rem;
	     line-height: 20px;
	     &:active {
	         transform: scale(.98);
	     }
	 }
	 
	 .btn-primary {
	     color: #fff;
	     background: $primary-color;
	 }
	 
	 .btn-secondary {
	     color: $secondary-color;
	     border: 1px solid $accent-color-1;
	     background-color: transparent;
	     span {
	         display: flex;
	         justify-content: center;
	         align-items: center;
	         img {
	             width: 1rem;
	             height: 1rem;
	             margin-right: .5rem;
	         }
	     }
	 }
	 
	 .signup {
	     text-align: center;
	     color: $secondary-color;
	     font-weight: map-get($map: $font-weight, $key: "Regular");
	     line-height: 24px;
	     font-size: .897rem;
	     a {
	         color: $primary-color;
	         font-weight: map-get($map: $font-weight, $key: "Medium");
	         text-decoration: none;
	     }
	 }
	 /* Don’t have an account? Sign up */