$accent-color-1: #D0D5DD;
$accent-color-2: #667085;
$bg-color: #FCFDFF;
$font-family:'Inter',
sans-serif;
$font-weight:( "Regular":400, "Medium":500, "Bold":700, );
$primary-color: #5429FF;
$secondary-color: #344054;